<html lang="en">
<head>
<meta charset="utf-8" />
<title>Home</title>
<link rel="shortcut icon" href="../img/my_icon.ico" />
<link href="../css/main.css" rel="stylesheet" />
</head>

<body>
<div id="wrapper">
<header id="topHeader">
<h1>Mybook</h1>
<link rel="shotcut icon" href="../img/my_icon.ico" />
</header>

<nav id="topMenu">
<ul>
<li><a href="http://{{ myAddr }}/home">Home</a></li>
<li><a href="http://{{ myAddr }}/profile">Profile</a></li>
<li><a href="http://{{ myAddr }}/event">Events</a></li>
<li><a href="http://{{ myAddr }}/gallery">Gallery</a></li>
</ul>
</nav>
		
<section id="mainSection">

{% for path in photoes %}
<a href="img/{{ path }}"><img width="300" height="200" src="img/{{ path }}" /></a>
{% endfor %}
<hr>

{% for link in fphotoes %}
<a href="{{ link }}"><img width="300" height="200" src="{{ link }}" /></a>
{% endfor %}
</section>
	
<footer id="footer">
&copy Mybook 2012
</footer>
</div>

<div id="onlineFriendList">
<h4>Online Friends</h4>
<ul class="green">
{% for onlineFriend in onlineFriendList %}
<li><div style="color:black;">{{ onlineFriend }}</div></li>
{% endfor %}
</ul>
</div>	

<div id="sideBar">
<nav id="sideMenu">
<ul>
<li><a href="http://{{ myAddr }}/whoonline">Who Is Online?</a></li>
<li><a href="http://{{ myAddr }}/friendRequest">Friend Requests</a></li>
<li><a href="http://{{ myAddr }}/editFriend">Edit Friend</a></li>
<li><a href="http://{{ myAddr }}/uploadPhoto">Upload a Photo</a><li>
<li><a href="http://{{ myAddr }}/signOut">Sign Out</a></li>
</ul>
</nav>
</div>

</body>

</html>
